body {
    font-family: 'Amatic SC', cursive;
}

.nopadding {
    padding: 0;
}
/*
====================================
HEADER
====================================
*/

.main_header {
    position: fixed;
    background-image: url('assets/images/headerbackground.png');
    color: white;
    z-index: 1;
    text-align: center;
    opacity: 0.5;
}

.logo_container {
    display: inline-block;
}

.logo {
    color: white;
    font-size: 30px;
}

#name {
    font-size: 2em;
    margin: 2% 0 0 0;
    transform: scale(1.6);
    font-weight: 700;
}

.nav {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

span {
    text-transform: uppercase;
}
/*
====================================
SCENE 1
====================================
*/

.arrow {
    color: white;
}

#scene1 {
    position: relative;
    overflow: hidden;
    display: block;
}

.night_sky {
    opacity: 0.6;
}

#starry_night {
    transform: scale(2);
}

.star_layer1 {
    transform: scale(2);
}

.intro_text {
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    font-size: 20px;
}

.intro_text > h3 {
    font-size: 60px;
}
/*.star_layer{
    color: white;
}*/
/*
====================================
STAR FUNCTION STYLING
====================================
*/

.technical>div>span>span {
    text-decoration: underline;
    color: white;
    font-size: 3em;
    font-weight: 600;
}

.star_layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    /*transform: translateX(-50%) translateY(-50%);*/
}

.letter {
    opacity: 0;
    color: white;
    transform: scale(0);
    transition-duration: .25s;
    font-size: 40px;
}

.star_layer span {
    position: relative;
}

.star {
    position: absolute;
    left: 0px;
    top: 0px;
    color: white;
    font-size: 100%;
    opacity: .5;
    text-shadow: 5px 5px lightyellow;
}

.starshining {
    -webkit-animation: startwinkle 1s ease-in;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes startwinkle {
    0% {
        opacity: .6;
    }
    40% {
        opacity: .6;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: .6;
    }
    100% {
        opacity: .6;
    }
}
/*
====================================
SCENE 2
====================================
*/
#scene2 {
    position: relative;
    display: inline-block;
}

.forest {
    opacity: 0.6;
    z-index: 2;
}

.scene2_header {
    position: absolute;
    /*top: -15%;*/
    
    color: white;
}

.skills {
    position: absolute;
    bottom: 5%;
    left: 20%;
    color: white;
    opacity: 0;
}

.skills p,
i {
    font-size: 30px;
    display: inline-block;
    margin-right: 5%;
}
/*
====================================
SCENE 3
====================================
*/

.bubble {
    background-color: white;
    border-radius: 100% / 100%;
    opacity: 1;
    -webkit-filter: blur(7px) drop-shadow(4px 4px 20px white);
}

.dreams {
    position: absolute;
    bottom: 55%;
    left: 1%;
    height: 45%;
    width: 60%;
}

.big_dream {
    position: absolute;
    top: 0;
    left: 0;
    height: 59%;
    width: 62%;
    border-radius: 100% / 100%;
    background-color: rgb(181, 102, 199);
    font-size: 50px;
}
.projects_position{
    position: absolute;
    top: 8%;
    left: 5%;
    display: inline-block;
}
/*.medium_dream {
    height: 10%;
    width: 5%;
}

.small_dream {
    height: 8%;
    width: 3%;
}*/
/*
====================================
WORD RIPPLES
====================================
*/
.stone{
    border-radius: 100% / 100%;
    position: absolute;
    opacity: 0.5;
    height: 200px;
    z-index: 2;
    width: 200px;
    background-color: blue;
    transform: scale(1);
}
.calculator{
    border-radius: 100%/100%;
    position: absolute;
    top: 30%;
    left: 33%;
    color: black;
    transform: scaleX(0.2);
    transform: translateY(50px);
    transition-duration: 1s;
     -webkit-filter: blur(10px) drop-shadow(1px 1px 20px blue);
}
.word_move{
    transform:translateY(0px);
}
.word_stone{
    color: white;
    #font-weight: 700;
    transform: scaleX(1);
    z-index: 3;
    -webkit-filter: blur(0px) drop-shadow(1px 1px 20px blue);
    opacity: 1;
}
.tiny{
    transform: scale(0);
    transition-duration: 3s;
    background-color: white;
    -webkit-filter: blur(2px) drop-shadow(1px 1px 20px white);
}
.tiny_stone{
     border: 5px solid white;
    background-color: white;
    transform:scaleX(0.9);
    transform:scaleY(0.6);
    opacity: 0;
}
.xs{
    transition-duration: 4s;
    transform: scale(0);
    -webkit-filter: blur(2px) drop-shadow(1px 1px 20px white);
}
.xs_stone{
    border: 10px solid white;
    background-color: white;
    transform:scaleY(1.2);
    transform:scaleX(1.8);
    opacity: 0;
}
.small{
    top: 0px;
    transition-duration: 5s;
    transform: scaleX(0.3);
    transform: scaleY(0.6);
    -webkit-filter: blur(2px) drop-shadow(1px 1px 20px white);
    opacity:0;
}
.small_stone{
    border: 10px solid white;
    background-color: white;
    transform:scaleY(2);
    transform:scaleX(3);
    opacity: 1;
}
.small_stone_gone{
    opacity:0;
}