body{
	font-family: 'Amatic SC', cursive;
}
.nopadding{
	padding: 0;
}
/*
====================================
HEADER
====================================
*/
.main_header{
	position: fixed;
	background-image: url('assets/images/headerbackground.png');
	color: white;
	z-index: 1;
	text-align: center;
	opacity: 0.5;
}
.logo_container{
	display: inline-block;
}
.logo{
	color: white;
	font-size: 30px;
}
#name{
	font-size: 60px;
}
.nav{
	color: white;
	text-decoration: none;
	font-size: 25px;
}
/*
====================================
SCENE 1
====================================
*/
.arrow{
	color:white;
}
#scene1{
	position: relative;
	overflow: hidden;
	display: block;
}
.night_sky{
	opacity: 0.6;
}
#starry_night{
	transform: scale(2);
}
.intro_text{
	position: absolute;
	top: 10%;
	left: 10%;
	color: white;
	font-size: 20px;
}
.intro_text > h3{
	font-size: 30px;
}
/*.star_layer{
	color: white;
}*/
/*
====================================
STAR FUNCTION STYLING
====================================
*/
.star_layer{
	height: 100%;
	width:100%;
	position: absolute;
	top: 50%;
	text-align: center;
	/*transform: translateX(-50%) translateY(-50%);*/
}
.letter{
    opacity: 0;
    color: white;
    transform: scale(0);
    transition-duration: .25s;
    font-size: 40px;
}
/*#starskills{
    position: absolute;
    left: 50%;
    top: 50%;
    
}*/
#starfield{
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
}
.star_layer span{
    position: relative; 
}
.star{
    position: absolute;
    left: 0px;
    top: 0px;
    color: white;
    font-size: 120%;
    opacity: .5;
    text-shadow: 5px 5px lightyellow;
}
.starshining{
    -webkit-animation:startwinkle 1s ease-in ;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes startwinkle {
    0%{
         opacity: .6;
    }
    40%{
        opacity: .6;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: .6;
    }
    100%{
        opacity: .6;
    }
}
/*
====================================
SCENE 2
====================================
*/
#scene2{
	position: relative;
	display: inline-block;
}
.forest{
	opacity: 0.6;
	z-index: 2;
}
.scene2_header{
	position: absolute;
	top: -15%;
	left:20%;
	color: white;
}
.skills{
	position: absolute;
	bottom: 5%;
	left: 20%;
	color: white;
	opacity: 0;
}
.skills p, i{
	font-size: 30px;
	display: inline-block;
	margin-right: 5%;
}